<nav class="hx-app-nav">
  <section class="<%= is_current('guides') ? 'open' : '' %>">
    <header>
      Guides
      <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
    </header>
    <div>
      <% for (var _item in site.data.nav.guides) { %>
        <% var items = site.data.nav.guides; %>
        <a
          class="<%= is_current('guides' + items[_item]) ? 'current' : '' %>"
          href="<%- url_for('/guides/' + items[_item]) %>"
        >
          <%= _item %>
        </a>
      <% } %>
    </div>
  </section>

  <section class="<%= is_current('components') ? 'open' : '' %>">
    <header>
      Components
      <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
    </header>
    <div>
      <% for (var _item in site.data.nav.components) { %>
        <% var items = site.data.nav.components; %>
        <a
          class="<%= is_current('components' + items[_item]) ? 'current' : '' %>"
          href="<%- url_for('/components/' + items[_item]) %>"
        >
          <%= _item %>
        </a>
      <% } %>
    </div>
  </section>
</nav>
