<head>
  <%
    var title;
    if (is_archive()){
      if (is_month()){
        title = `Archives: ${page.year}/${page.month}`;
      } else if (is_year()){
        title = `Archives: ${page.year}`;
      } else {
        title = 'Archives';
      }
    } else if (is_category()){
      title = `Category: ${page.category}`;
    } else if (is_tag()){
      title = `Tag: ${page.tag}`;
    } else {
      title = page.title;
    }
  %>
  <title><% if(title) { %><%= title %> | <% }%><%= config.title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- favicon_tag('images/favicon.png') %>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <%- css('styles/bootstrap.helix.css') %>
  <%- css('styles/helix-ui.css') %>
  <%- css('styles/explorer.css') %>

  <!-- ES5 Adapter -->
  <script src="https://b5dc4e33c725947e6dec-30cf78e7985757466f892e6ab6b08f81.ssl.cf1.rackcdn.com/custom-elements-es5-adapter.js"></script>
  <!-- Polyfill Loader -->
  <script src="https://b5dc4e33c725947e6dec-30cf78e7985757466f892e6ab6b08f81.ssl.cf1.rackcdn.com/webcomponents-loader.js"></script>
</head>
