<% if (page.prev || page.next) { %>
    <div class="hxRow">
        <div class="hxCol-6 align-right">
            <!-- newer -->
            <% if (page.prev) { %>
                <a class="btn btn-link" href="<%- url_for(page.prev.path) %>">
                    &larr;
                    <%- page.prev.title %>
                </a>
            <% } %>
        </div>
        <div class="hxCol-6">
            <!-- older -->
            <% if (page.next) { %>
                <a class="btn btn-link" href="<%- url_for(page.next.path) %>">
                    <%- page.next.title %>
                    &rarr;
                </a>
            <% } %>
        </div>
    </div>
<% } %>

<aside class="article-toc" role="navigation">
    <header class="article-toc-title">Content</header>
    <% var toc = flat_toc(page.content, {}) %>
    <% if (toc !== '') { %>
        <%- toc %>
        <a class="article-toc-top" href="#top">Back to Top</a>
    <% } else { %>
        <p>
            <em>Unavailable</em>
        </p>
    <% } %>
</aside>
