<!DOCTYPE html>
<html lang="en">
<%- partial('_partials/head') %>
<body id="top">
  <header id="global-header">
    <%- partial('_partials/global_nav') %>
  </header>

  <div id="app-container">
    <div class="app-nav-container">
      <%- partial('_partials/app_nav') %>
    </div>

    <main id="app-content">
      <%- body %>
    </main>
  </div>

  <footer id="global-footer">
    <%- partial('_partials/footer_nav') %>
  </footer>

  <%- js('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') %>
  <%- js('scripts/docs.js') %>
</body>
</html>
